#!/usr/bin/make -f

#export DH_VERBOSE=1

export DH_OPTIONS

export DH_GOPKG := github.com/subgraph/oz

%:
	dh $@ --buildsystem=golang --with=golang,systemd

override_dh_auto_build:
	dh_auto_build -- -buildmode=pie -pkgdir=$$(mktemp -d -p $(CURDIR))

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/oz-daemon/usr/sbin
	mv $(CURDIR)/debian/oz-daemon/usr/bin/oz-daemon $(CURDIR)/debian/oz-daemon/usr/sbin
	mv $(CURDIR)/debian/oz-daemon/usr/bin/oz-setup $(CURDIR)/debian/oz-daemon/usr/sbin
	rm -rf $(CURDIR)/debian/oz-daemon/usr/share/gocode

ifeq ($(DEB_BUILD_ARCH_OS),linux)
override_dh_systemd_enable:
	dh_systemd_enable oz-daemon.service
endif

override_dh_auto_test:
	@echo skipped auto test
